/* Write your CSS here */
.ipl-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.ipl-logo {
  width: 60px;
}
.flex-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.ipl-head {
  font-family: Bree Serif;
  color: #ffffff;
  padding-left: 20px;
  font-size: 50px;
}
.teams-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}
